@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;800&display=swap');

body {
    background: #faebc8;
}

section {
    height: 530px;
    width: 1000px;
    margin: 60px 220px;
    display: inline-block;
    border-radius: 15px;
    background: white;
    box-shadow: 0px 2px 15px 4px rgba(58,6,6,0.94);
}

article {
    height: 450px;
    width: 210px;
    display: inline-block;
    font-family: "Open Sans";
    font-size: 16px;
    padding-left: 80px;
    text-decoration: none;
    text-align: center;
    padding-top: 52px;
}

section:nth-child(1) {
    padding-left: 70px;
}

article p {
    display: block;
    font-weight: 300;
    text-align: left;
}

article img {
    width: 80px;
    height: 80px;
}

article h2 {
    font-weight: 500;
}

article p + p {
    color: #8d4435;
    text-shadow: 18px 18px 2px rgb(90, 89, 89);
    font-style: italic;
    font-weight: 500;
}


section article + article p {
    padding-bottom: 45px;
}

section article:last-child p {
padding-bottom: 28px;
}